.container {
  width: 30%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container {
    width: 75%;
    height: 75%;
  }
}
