.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d05f7;
}

.navbar {
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}

.title {
  color: #ffffff;
}
